---
title: "Reddit eyes Altman’s World ID for human verification"
date: 2026-06-22
tags: [Image, Privacy, Reddit]
source: https://link.mail.beehiiv.com/ss/c/u001.dSnm3kaGd0BkNqLYPjeMfxsPS0kImsqWARxTxtiQo82Hcm4HZrGi7fuZwiWQ5kyCNFLVtlc-Xe5bBiQYt7dr3qVcRVltcCJ94Som03ScSewimAHAXzP3jB7EM6h1uLF1_G7050NxdVnafNrS3iwJ_CcAxMFpJ0dcVZdszosU9NoKmttI466b39TwbQpETai4ZshddWv-xuJZcxAJCqvHxjZ3RjAO3buiG8CtM2QQ-b7IIPXhYJERcHr9u4JkLRyzhfgzI20r7KbKhVJ8KV9TnCfzPWRUi-eCrtcSRZFkcSjZKxOj2FVnDL7zdbTnTVcnG0vT470dErCo8MC6XGiGJwDtpw9SUnvQyIE-Mk8tqYM/4hm/yYxYVVJwTI2AjUWuZfxqhQ/h20/h001.xWomcmFPocdw3vgBipp2OxI66mQopG-w9_dLaTcXmzo
type: article
status: read
---
++**





|  | 
|---|
| *Image source: o3 / The Rundown* | 


**The Rundown:** Reddit is reportedly **[negotiating](https://link.mail.beehiiv.com/ss/c/u001.dSnm3kaGd0BkNqLYPjeMfxsPS0kImsqWARxTxtiQo82Hcm4HZrGi7fuZwiWQ5kyCNFLVtlc-Xe5bBiQYt7dr3qVcRVltcCJ94Som03ScSewimAHAXzP3jB7EM6h1uLF1_G7050NxdVnafNrS3iwJ_CcAxMFpJ0dcVZdszosU9NoKmttI466b39TwbQpETai4ZshddWv-xuJZcxAJCqvHxjZ3RjAO3buiG8CtM2QQ-b7IIPXhYJERcHr9u4JkLRyzhfgzI20r7KbKhVJ8KV9TnCfzPWRUi-eCrtcSRZFkcSgOQNr0akMymuMy64GyGWVWlWmvoJRwdW4s7FyqAUHzUzL381XMAxGpgE__n6gnrtI/4hm/yYxYVVJwTI2AjUWuZfxqhQ/h21/h001.aP-iRwZ5VMoFxZh4gzq8hw8Q6NrcJSs8KpG8qlUoClY)** with Sam Altman’s Tools For Humanity to integrate the company’s iris-scanning World ID Orb system, allowing users to provide proof of humanity while staying anonymous.


**The details:**


- The system would offer Reddit users optional verification through World ID’s encrypted iris scans, which fragment biometric data across servers worldwide.

- CEO Steve Huffman **[hinted](https://link.mail.beehiiv.com/ss/c/u001.dSnm3kaGd0BkNqLYPjeMf12JPJmnEWz8Es8VZnud4WpxWndaWp1wt8M2Ad9kuVH675to4wv25LACVHZLMTw1U3GnYpwaE0ZyuU3pG8lt7CxefMAjxTxwmJlrY0Q5qEVzWN-PrqIOEalHq7r1XNnVtdtPwGL3xv24QqWxSaNNwUEMeyNMeSZF6VVkV5UuZPnCgrUgJz-E6JS-NZJJUgLw6w2BGq-kJ_RFn8GvgRH0beFKTKDKlpCAgjjXemcKkvHpvQVhev3JDmoxaCKTmnW5pPUzXTfnKkrLjPS8h2XNfARj-YDfmzdtWIA8aZxaC8A0cWFrgxz92E7ETHmdwEDfaJrgRDXAvqxlAWFJW-MUQ9g/4hm/yYxYVVJwTI2AjUWuZfxqhQ/h22/h001.E5w8w6KgHcD8KSFxM9PL6iTXcvMlTokCk0Jxdnzt4qU)** at the shift last month, posting on efforts to preserve anonymity while deterring the flood of AI accounts on the platform.

- World ID assigns users cryptographic proof without storing personal data, though minors under 18 are currently blocked from the Orb scanning process.

- The partnership would position Reddit as the first major U.S. social platform to test biometric verification at scale aside from simple email checks.


**Why it matters:** The “Dead Internet” theory of the web becoming overrun with AI bots is a real concern — and something already being experienced across social media platforms. While World’s Iris scanning initiatives were initially met with tons of skepticism and anger, the need for human verification is going to be very real.